* {
  margin: 0;
  padding: 0;
}

section.homepage{
  background-image: url('images/home.jpg');
  height: 100vh;
  width: auto;
}

div.home{
  margin: auto;
  width: 50%;
  color: aliceblue;
  /* height: 50%; olid green; */
  padding: 10px;
}